@model ParkWeatherVM
@*

*@

    <div id="weather">
            @foreach (Weather day in Model.Weather)
            {
                <section id="days">
                    <img src="~/images/weather/@(day.DisplayWeatherIcon(day.Forecast)).png" />

                    <h5>@day.High @day.Low</h5>

                    <p>@day.Forecast</p>

                    <p>@day.GiveAdvice(day.Forecast)</p>

                    <p>@day.GiveWarning(day.High, day.Low)</p>
                </section>
            }
</div>