@model ParkWeatherVM
@*

*@

<table>

    <thead>
        <tr>
            <th>Today</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (Weather day in Model.Weather)
        {
            <tr>
                <td><img src="~/images/weather/@(day.DisplayWeatherIcon(day.Forecast)).png" /></td>
            </tr>
            <tr>
                <td>@day.High</td>
            </tr>
            <tr>
                <td>@day.Low</td>
            </tr>
            <tr>
                <td>@day.Forecast</td>
            </tr>
            <tr>
                <td>@day.GiveAdvice(day.Forecast)</td>
            </tr>
            <tr>
                <td>@day.GiveWarning(day.High, day.Low)</td>
            </tr>

        }

    </tbody>
</table>