@model ParkWeatherVM
@*

*@

    <div id="weather">
        <section id="days">
            @foreach (Weather day in Model.Weather)
            {

                <img src="~/images/weather/@(day.DisplayWeatherIcon(day.Forecast)).png" />

                <p>@day.High @day.Low</p>

                @day.Forecast

                @day.GiveAdvice(day.Forecast)

                @day.GiveWarning(day.High, day.Low)

            }
        </section>
    </div>