@model ParkWeatherVM
@*

*@

<div id="weather">

    <section id="today">
        <h3>Today</h3>
        <img src="~/images/weather/@(Model.Today.DisplayWeatherIcon(Model.Today.Forecast)).png" id="todayImg"/>
        <h5>@Model.Today.High @Model.TempType  @Model.Today.Low @Model.TempType</h5>
        <p>@Model.Today.Forecast</p>
        <p>@Model.Today.GiveAdvice(Model.Today.Forecast)</p>
        <p>@Model.Today.GiveWarning(Model.Today.High, Model.Today.Low)</p>
    </section>

    @foreach (Weather day in Model.Weather)
    {
        <section class="days">
            <img src="~/images/weather/@(day.DisplayWeatherIcon(day.Forecast)).png" class="daysImg"/>

            <h5>@day.High @Model.TempType @day.Low @Model.TempType</h5>

            <p>@day.Forecast</p>

            <p>@day.GiveAdvice(day.Forecast)</p>

            <p>@day.GiveWarning(day.High, day.Low)</p>
        </section>
    }
</div>