@model ParkWeatherVM
@{
    ViewData["Title"] = "Detail";
}


<img class="detailphoto" src="~/images/parks/@(Model.ParkCode).jpg" />

<h1>@Model.Park.ParkName</h1>
<h2>@Model.Park.Acreage  in @Model.Park.State | Year Founded @Model.Park.YearFounded</h2>

<p>@Model.Park.ParkDescription</p>

<h3>@Model.Park.Climate</h3>
<h3>@Model.Park.NumberOfCampsites</h3>
<h3>@Model.Park.MilesOfTrail</h3>

<partial name="_Weather" model="Model.Weather" />





