@model ParkWeatherVM
@{
    ViewData["Title"] = "Detail";
}

<img class="detailphoto" src="~/images/parks/@(Model.ParkCode).jpg" />
<section id="name">
    <h1>@Model.Park.ParkName</h1>
    <h4><i>"@Model.Park.InspirationalQuote"</i></h4>
    <h4>~@Model.Park.InspirationalQuoteSource</h4>
    <br/>
    <h4>@Model.Park.Acreage acres in @Model.Park.State | Climate: @Model.Park.Climate | Year Founded @Model.Park.YearFounded</h4>
    <h4>Entry Fee: $@Model.Park.EntryFee</h4>
    <p id="parkelevation">@Model.Park.ParkName is @Model.Park.ElevationInFeet above sea-level. There are @Model.Park.MilesOfTrail miles of trail and @Model.Park.NumberOfCampsites campsites.
    The park attracts @Model.Park.AnnualVisitorCount visitors every year, and contains @Model.Park.NumberOfAnimalSpecies different animal species.
    </p>
</section>

<p id="description">@Model.Park.ParkDescription</p>
<form asp-controller="Home" asp-action="Detail" asp-route-parkCode="@Model.Park.ParkCode" method="post">
    <label asp-for="TempType">Temperature Type</label>
    <input type="radio" id="F" name="TempType" value="F">
    <label for="F">F</label>
    <input type="radio" id="C" name="TempType" value="C">
    <label for="C">C</label>
    <input type="submit" value="Change Temperature" />
</form>

<partial name="_Weather" model="Model" />





