@model ParkWeatherVM
@{
    ViewData["Title"] = "Detail";
}


<img class="detailphoto" src="~/images/parks/@(Model.ParkCode).jpg" />
<section id="name">
    <h1>@Model.Park.ParkName</h1>
    <h4>@Model.Park.Acreage acres in @Model.Park.State | Year Founded @Model.Park.YearFounded</h4>
</section>

<p id="description">@Model.Park.ParkDescription</p>


<partial name="_Weather" model="Model" />





