@model ParkWeatherVM
@{
    ViewData["Title"] = "Detail";
}
<section id="photoAndTitle">
    <img class="detailphoto" src="~/images/parks/detail/@(Model.ParkCode).jpg" />
    <section id="name">
        <h1 class="parkNameDetail">@Model.Park.ParkName</h1>
        <h4>Founded @Model.Park.YearFounded | @Model.Park.Acreage acres in @Model.Park.State | @Model.Park.Climate Climate</h4>
    </section>
</section>
<br />

<h4 id="quote"><i>"@Model.Park.InspirationalQuote"</i>  ~@Model.Park.InspirationalQuoteSource</h4>
<br />
<p id="parkelevation">
    @Model.Park.ParkName is @Model.Park.ElevationInFeet above sea-level. There are @Model.Park.MilesOfTrail miles of trail and @Model.Park.NumberOfCampsites campsites.
    The park attracts @Model.Park.AnnualVisitorCount visitors every year, and contains @Model.Park.NumberOfAnimalSpecies different animal species.
</p>
<p id="description">@Model.Park.ParkDescription</p>
<br />
<h5>Entry Fee: $@Model.Park.EntryFee</h5>
<br />

<form asp-controller="Home" asp-action="Detail" asp-route-parkCode="@Model.Park.ParkCode" method="post">
    <label asp-for="TempType">Temperature Type</label>
    <input type="radio" id="F" name="TempType" value="F">
    <label for="F">F</label>
    <input type="radio" id="C" name="TempType" value="C">
    <label for="C">C</label>
    <input class="tempSubmit" type="submit" value="Change Temperature" />
</form>

<partial name="_Weather" model="Model" />





